@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
}
/*
Начало первого блока
*/
.img-1 {
    background-image: url('../img/1-image.png');
    height: 800px;
}
.fon__menu {
    background-color: #52503B;
    height: 80px;
}

.menu {
    margin: 0 auto;
    width: 1200px;
}

.logo{
    float: left;
    margin-top: 18px;
}

.menu__menu {
    float: left;
    margin-left: 358px;
}
.menu__menu ul {
    list-style: none;
    float: left;
    text-decoration: none;
}

.menu__menu li {
    float: left;
    list-style-type: none;
    margin-left: 12px;
    text-decoration: none;
    margin-top: 30px;
    
}

.menu__menu a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: color .3s;
    
}

.menu__button {
    color: #52503B;
    float: right;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 18px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 19px;
    transition-duration: 1s;  
}
.menu__button:hover{
    color: black;
    transition-duration: 1s;
}
.menu__button:active {
    border: 1px solid black;
}

.big__logo {
    margin-top: 178px;
    margin-left: 592px;
}
.text__block-1 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    margin-top: 34px;
    margin-left: 133px;
    display: inline-block;
    text-align: center;
}
.text__block-1-1 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 33px;
    margin-left: 575px;
    display: inline-block;
    letter-spacing: 2px;
}
.img__block-1 {
    margin-top: 94px;
    margin-left: 690px;
}

/*
завершение первого блока
*/

/*
Начало второго блока
*/
.block-2 {
    height: 410px;
    margin: 0 auto;
    background-color: #FAF8F0;
    overflow: hidden;
}
.rectangle__block-2, .rectangle__block-3 {
    margin-top: 100px;
    margin-left: 699px;

}
.text__block-2 {
    width: 800px;
    margin: 0 auto;
}
.text__block-2-1 {
    width: 360px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.text__block-2-2 {
    width: 360px;
    float: right;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}


.block-3 {
    overflow: hidden;
    /*height: 568px;*/
    margin: 0 auto;
}
.text__block-3 {
    color: #52503B;
    font-size: 96px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 140px;
}

.block-5 {
    overflow: hidden;
    background-color: #FAF8F0;
}
.big__text__block-5 {
    font-size: 32px;
    font-weight: 400;    
    text-align: center;
    margin-top: 32px;
    color: #52503B;
}
.smoll__text__block-5 {
    font-size: 16px;
    font-weight: 400;    
    text-align: center;
    margin-top: 16px;
    color: #52503B;
}